.cover__link { 
    text-decoration: none;
    color: white;
}

.cover__link::before {
    content: '';
    opacity: 0.3;
    transition: opacity 0.3 ease;
}
.cover__link::after {
    background-color: #2A2C2F;
}
.cover__link:hover {
    opacity: 0.8;
}
