.places {
  display: grid;
  color: white;
  max-width: 984px;
  margin: 92px auto;
  grid-gap: 80px;
  background-color:#2A2C2F;
}

@media screen and (max-width: 1279px) {
  .places {
    max-width: 928px;
  }
}
/*650px - 950px */
@media screen and (max-width: 1023px) {
  .places {
    max-width: 720px;
    margin: 88px auto;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 767px) {
  .places {
    margin: 64px auto;
    max-width: 320px;
    grid-template-columns: minmax(288px, 1fr);
  }
}
