.intro__list {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;  
  /* or 150% */
  list-style: none;
  max-width: 690px;
  margin: 0;
  padding: 0;
}
