.intro__list {
  margin: 40px 0 32px 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  /* or 26px */
  max-width: 690px;
  list-style: none;
}

/* 320px - 650px*/
@media screen and (max-width: 767px) {
  .intro__list {
    margin: 40px 0 34px 0;
  }
}
