.photo-grid__item {
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  .photo-grid__item {
    margin: 64px 16px 0 16px;
    grid-gap: 12px;
  }
}
