.lead__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104% */
  max-width: 720px;
  text-align: center;
  align-self: center;
  margin: 0 0 32px 0;
  padding: 0;

