.lead__image {
  margin-top: 64px;
  width: 100%;
}

@media screen and (max-width: 1140) {
  .lead__image {
    margin-top: 56px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .lead__image {
    margin-top: 56px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 610px) {
  .lead__image {
    margin-top: 40px;
  }
}
