.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */
  max-width: 640px;
  text-align: center;
  margin: 0 0 64px 0;
}

