.place__link {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
  color: white;
  transition: opacity 0.8s ease-in-out;
}
.place__link:hover {
  opacity: 0.8;
}

