
.place {
  margin: 92px 148px 0 148px;
  display: grid;
  outline: 3px solid white;
  grid-template-columns: 460px 1fr;
  margin: 0 auto;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1140) {
  .place {
    max-width: 928px;
    grid-gap: 48px 32px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place {
    max-width: 720px;
    grid-gap: 48px 28px;  
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  .place {
    max-width: 320px;
    grid-template-columns: minmax(288px 1fr);
    grid-template-rows: 1fr;
    grid-gap: 32px;
    margin: 0 auto; 
  }
}
.place__title {
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  display: grid;
  align-self: left;
  justify-self: left;
  outline: 3px solid white;
  max-width: 460px;
}

@media screen and (max-width: 1140) {
  .place__title {
    font-size: 72px;
    line-height: 76px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
  }
}

.place__image {
  width: 100%;
  outline: 3px solid white;
}
.place__website {
  outline: 3px solid white;
  align-self: end;
}
.place__website__url-heading {
  outline: 3px solid white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  margin: 0 0 12px 0;
}

@media screen and (max-width: 1140) {
  .place__website__url-heading {
    line-height: 170%;
/* or 20px */
letter-spacing: 2px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place__website__url-heading {
    max-width: 352px;
    font-size: 18px;
line-height: 22px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  place__website__url-heading{
    max-width: 288px;
  }
.place__website__link {
  outline: 3px solid white;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration: underline;
}
@media screen and (max-width: 1140) {
  .place__website__url-heading {
    font-size: 72px;
    line-height: 76px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place__website__url-heading {
    font-size: 42px;
    line-height: 46px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  .place__website__url-heading{
    font-size: 32px;
    line-height: 35px;
  }
}

.place__paragraph {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  outline: 3px solid white;
  margin: 0 0 26px 0;
  max-width: 484px;
}
@media screen and (max-width: 1140) {
  .place__paragraph {
  max-width: 456px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
    /* or 26px */
    max-width: 352px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  .place__paragraph{
    font-size: 32px;
    line-height: 35px;
    max-width: 288px;
  }
}

.place__paragraph:last-child {
  outline: 3px solid white;
}
@media screen and (max-width: 1140) {
  .place__website__url-heading {
    font-size: 72px;
    line-height: 76px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place__website__url-heading {
    font-size: 42px;
    line-height: 46px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  place__website__url-heading{
    font-size: 32px;
    line-height: 35px;
  }