.place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1140) {
  .place {
    max-width: 928px;
    grid-gap: 48px 32px;
  }
}
/*650px - 950px */
@media screen and (max-width: 950px) {
  .place {
    max-width: 720px;
    grid-gap: 48px 28px;
  }
}
/* 320px - 650px*/
@media screen and (max-width: 590px) {
  .place {
    max-width: 320px;
    grid-template-columns: 288px 1fr;
    grid-template-columns: repeat(auto-fill, 288px);
    margin: 32px 16px 32px;
  }
}
