.footer {
  max-width: 1184px;
  color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 92px auto 24px auto;
}

.footer__links {
  outline: white 3px solid;
  list-style: none;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 0;
}
.footer__link {
  padding-right: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
.footer__link:last-child {
  padding-right: 0;
}
.footer__copyright {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
}
